<footer>
  <div (click)="scrollToTop()" class=" top col-md-12 text-center py-3">
    <span >Back To Top</span>
  </div>
  <div class="container">
    <div class="row py-4">
      <div class="col-md-6 col-lg-3">
        <h3>Get To Know Us</h3>
        <ul class=" list-unstyled">
          <li>Careers</li>
          <li>About Amazon</li>
          <li>Amazon App Download</li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h3>Make Money With Us</h3>
        <ul class=" list-unstyled">
          <li>Sell Products With Amazon</li>
          <li>About Amazon</li>
          <li>Fullfillment by Amazon</li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h3>Shop With Us</h3>
        <ul class=" list-unstyled">
          <li>Your Account</li>
          <li>Your Orders</li>
          <li>Your Addresses</li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h3>Let Us Help You</h3>
        <ul class=" list-unstyled">
          <li>Help</li>
          <li>Shipping & Delivery</li>
          <li>Returns & Replacements</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <hr class="bg-white">
    <img class="py-3" routerLink="/home" src="../../assets/imgs/Amazon_logo.svg.webp" alt="">
  </div>

</footer>