@import "src/styles.scss";

.product-Categories{
  color: #4b5563;
  font-size: 16px;
  line-height: 24px;
  transition:1s ease ;
  -webkit-transition:1s ease ;
  -moz-transition:1s ease ;
  -ms-transition:1s ease ;
  -o-transition:1s ease ;
  h5,h6{
    font-weight: 700;
  }
  .btn{
    background-color: $mainColor !important;
  }

  ul li{
    padding: 5px 0px;
    cursor: pointer;
    width:fit-content;

    &:hover{
      text-decoration: underline !important;
    }
  }
}
.prime{
  span{
    padding-left: 5px;
    font-size: 13px !important;
  }
}
h3{
  color: #4b5563;
}
